<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body style = "background-color: black;">
    
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit deliverables</h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    <div style="text-align: center;">
                        <input type="text" name="new_deliverable_title" id="new_deliverable_title" ></br>
                        <input type="hidden" name="old_deliverable_title" id="old_deliverable_title" readonly="" >
                        <input type="text" name="project_title" id="project_title" readonly ></br>
                        <input type="text" name="deliverable_summary" id="deliverable_summary" ></br>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="modal-form" class="btn btn-success">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
    </div>

    <%- include("includes/navbar.ejs")%>

    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <div class="card" id="card-container">
                    <div class="card-body" id="card">
                    <% if (del.length == 0) { %> 
                        <h1 style="margin-top: 5rem;">No deliverables found!</h1>
                    <% } else { %>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Deliverable Title</th>
                                        <th>Project Title</th>
                                        <th>Summary</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% del.forEach((del, _) => { %>
                                        <tr>
                                            <td><%= del.Deliverable_Title %></td>
                                            <td><%= del.Project_Title %></td>
                                            <td><%= del.Deliverable_Summary %></td>
                                            <td>
                                                <a type="button" onclick="setModalFields(this)"
                                                    data-toggle="modal" data-old_deliverable_title="<%= del.Deliverable_Title %>" 
                                                    data-new_deliverable_title="<%= del.Deliverable_Title %>"
                                                    data-project_title="<%= del.Project_Title%>" 
                                                    data-deliverable_summary="<%= del.Deliverable_Summary%>" 
                                                    data-target="#editModal">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                            <form method="POST" action="/deliverable/delete/<%= del.Deliverable_Title %>">
                                                <td> 
                                                    <button style="all: unset; cursor: pointer;" type="submit"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </form>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function setModalFields(row) {
           // console.log(row.dataset)
            document.getElementById("old_deliverable_title").value = row.dataset.old_deliverable_title;
            document.getElementById("new_deliverable_title").value = row.dataset.new_deliverable_title;
            document.getElementById("project_title").value = row.dataset.project_title;
            document.getElementById("deliverable_summary").value = row.dataset.deliverable_summary;


            document.getElementById("modal-form").action = "/deliverable/update/";
            document.getElementById("modal-form").method = "POST";
        }
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    </body>
</html>